.pa_banner_home_container {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	margin-left: -15px;
}

.pa_banner_home {
	position: relative;
	width: 100vw;
	height: 100%;
	max-height: 400px;
	margin: 0;
	padding: 0;
	list-style: none;

	img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	li {
		margin: 0;
		padding: 0;
		list-style: none;

		&:not([data-slide='0']) {
			img {
				position: absolute;
				z-index: -1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				object-position: center;
				object-fit: cover;
				height: 100%;
			}
		}
	}

	&.active {
		li {
			&[data-slide] {
				opacity: 0;
				pointer-events: none;

				&.current {
					opacity: 1;
					pointer-events: inherit;

					.pa_banner_item {
						&:before {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
						}
					}
				}
			}
		}
	}

	&:hover {
		.controls {
			button {
				opacity: 0.5;
				background: var.$white;
			}
		}
	}

	.controls {
		display: none;
		position: absolute;
		z-index: 50;
		top: 50%;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		list-style: none;

		.next {
			button {
				right: 10px;
			}

			svg {
				transform: rotate(90deg);
			}
		}

		.previous {
			button {
				left: 10px;
			}

			svg {
				transform: rotate(-90deg);
			}
		}

		button {
			display: flex;
			position: absolute;
			top: calc(50% - 25px);
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			padding: 0;
			border-radius: 50%;
			border-color: transparent;
			opacity: 0;
			background: none;
			color: var.$grey_dark;
			cursor: pointer;

			&:hover {
				opacity: 1;
				background: var.$white;
			}
		}

		svg {
			width: auto;
			height: 10px;
			fill: none;

			path {
				stroke-width: 1px;
			}
		}
	}
}

.pa_banner_nav {
	display: block;
	width: 100%;

	ul {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		flex: 1 0 100%;
		padding: 0;
		list-style: none;
	}

	a {
		display: flex;
		box-sizing: border-box;
		align-items: center;
		justify-content: space-between;
		height:100%;
		padding: 15px 25px;
		background: var.$white;
		color: var.$neutral;
		font: var.$font_headings;
		font-size: 1.5em;
		font-weight: 700;
		line-height: 1;
		text-decoration: none;

		.pa_nav_btn {
			flex-shrink: 0;
			margin-left: 20px;
			padding: 5px;
			background: var.$primary;
			color: var.$white;
			font-size: 0.6em;
			font-weight: 400;
			text-transform: uppercase;
		}

		&:hover {
			background: var.$primary;
			color: var.$white;
			text-decoration: none;

			.pa_nav_btn {
				background: var.$orange;
				color: var.$white;
			}
		}
	}
}

@media(min-width: 40em) {
	.pa_banner_nav {
		li {
			flex-basis: 50%;
			max-width: 50%;
		}
	}
}

@media(min-width: 640px) {
	.pa_banner_home_container {
		margin-left: -2vw;
	}
}

@media(min-width: 50em) {
	.pa_banner_home {
		flex: 1 1 auto;
		width: calc(100vw - 300px);
		max-width: 800px;

		.controls {
			display: block;
		}
	}

	.pa_banner_home_container {
		flex-wrap: nowrap
	}

	.pa_banner_nav {
		display: block;
		flex: 1 0 auto;
		align-content: space-between;
		max-width: 300px;
		height: 100%;
		max-height: 400px;

		li {
			width: 100%;
			max-width: unset;
			margin: 10px 0 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	@supports(grid-template-areas: '.') {
		.pa_banner_home_container {
			display: grid;
			grid-template-columns: auto auto;
		}

		.pa_banner_home {
			width: auto;
		}
	}
}

@media(min-width: 1024px) {
	.pa_banner_home_container {
		margin-left: -4vw;
	}
}

$max_width: (25000 / 23) * 1px;

@media(min-width: $max_width) {
	.pa_banner_home_container {
		max-width: 1000px;
		margin-left: calc(-1 * (50vw - 500px));
		padding: 0 calc(50vw - 500px);
	}

	.pa_banner_home {
		width: 700px;
	}
}
