.pa_btn {
	display: inline-block;
	position: relative;
	margin-top: 12px;
	padding: 3px 40px 0 14px;
	background: var.$primary;
	color: var.$neutral;
	font-size: 1.2em;
	font-weight: 700;
	line-height: 2.25;
	text-decoration: none;
	text-transform: uppercase;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 27px;
		height: 35px;
		background: url('https://pacificautomation.com.au/content/files/icons/btn-bg-right-bottom.png') left top no-repeat, url('https://pacificautomation.com.au/content/files/icons/btn-arrow-right.png') center center no-repeat;
		background-size: auto 100%, auto auto;
	}

	&:hover {
		background: var.$orange;
		text-decoration: none;

		&:after {
			filter: invert(100%);
		}
	}

	&[class*='background_'] {
		&:hover {
			background: var.$orange;
			text-decoration: none;

			&:after {
				filter: invert(100%);
			}
		}
	}

	&.background_blue_light, &.background_grey_light {
		color: var.$neutral;

		&:after {
			filter: invert(100%);
		}
	}

	&.background_blue_dark, &.background_grey_dark, &.background_grey_medium, &.background_gold {
		color: var.$white;
	}

	&.background_blue_dark {
		background: var.$secondary;
	}

	&.background_blue_light {
		background: var.$primary;
	}

	&.background_grey_dark {
		background: var.$grey_dark;
	}

	&.background_grey_medium {
		background: var.$grey_mid;
	}

	&.background_grey_light {
		background: var.$grey_light;
	}

	&.background_gold {
		background: var.$gold;
	}

	&.background_white {
		padding-right: 14px;
		border: 2px solid var.$secondary;
		background: var.$white;
		color: var.$secondary;

		&:after {
			content: normal;
		}

		&:hover {
			background: var.$secondary;
			color: var.$white;
		}
	}
}

.pa_cta {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;

	.pa_btn {
		margin: 20px;
	}
}
