details, .faq_details {
	max-width: 800px;
	margin: 10px 0;
	background: var.$white;

	&[open] {
		summary {
			&:after {
				transform: rotate(0);
			}
		}
	}

	&:hover, &:focus {
		outline: none;

		summary {
			text-decoration: underline;
		}
	}
}

summary, .faq_summary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border: none;
	color: var.$primary;
	font-size: 1.2em;
	list-style: none;

	&:hover, &:focus {
		outline: none;
	}

	&:after {
		content: '';
		z-index: 5;
		width: 0;
		height: 0;
		transform: rotate(-90deg);
		border-width: 20px 20px 0;
		border-style: solid;
		border-color: var.$primary transparent transparent transparent;
	}

	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.faq_content {
	padding: 0 50px 50px;
	border: none;

	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
