.pa_slider {
	position: relative;
}

.pa_products {
	display: flex;
	align-content: stretch;
	align-items: stretch;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	overflow-x: auto;
	list-style: none;
	scrollbar-width: thin;
	scrollbar-color: var.$grey_light var.$grey_background;

	&::-webkit-scrollbar {
		height: 0.4em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var.$grey_light;
	}

	&::-webkit-scrollbar-track {
		background-color: var.$grey_background;
	}

	.pa_product {
		display: flex;
		flex-shrink: 0;
		flex-wrap: wrap;
		align-content: center;
		width: 270px;
		margin: 0 10px;
		padding: 20px;
		list-style-type: none;
		border: 2px solid var.$grey_light;
		background: var.$white;
	}

	h3 {
		margin: 0;
	}

	img {
		width: 100%;
		max-width: 100%;
		max-height: 150px;
		object-fit: contain;
		object-position: center;
	}

	.product_code {
		width: 100%;
		margin: 10px 0 auto;
	}

	.pa_cta {
		justify-content: center;
		width: calc(100% + 20px);
		margin: 0 -10px 20px;

		li {
			margin: 10px 10px 0;
		}

		.pa_btn {
			padding: 5px 15px;
			font-size: 0.9em;
			font-weight: 400;
			line-height: 1;

			&:after {
				content: normal;
			}
		}
	}
}

.slider_heading {
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}

.slider_controls {
	margin: 0;
	padding: 0;
	list-style: none;

	.next {
		button {
			right: -20px;
		}

		svg {
			transform: rotate(90deg);
		}
	}

	.previous {
		button {
			left: -20px;
		}

		svg {
			transform: rotate(-90deg);
		}
	}

	button {
		display: block;
		position: absolute;
		top: calc(50% - 25px);
		padding: 20px 0;
		border-color: transparent;
		opacity: 0.5;
		background: none;
		color: var.$grey_dark;

		&:hover {
			opacity: 1;
		}
	}

	svg {
		width: auto;
		height: 20px;
		fill: none;

		path {
			stroke-width: 1px;
		}
	}
}

@media(min-width: 60em) {
	.pa_products {
		padding: 20px 0;
	}

	.slider_controls {
		.next {
			button {
				right: -30px;
			}
		}

		.previous {
			button {
				left: -30px;
			}
		}
	}
}
