.pa_cols {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin: 15px -10px;
	padding: 0;

	h2 {
		margin-top: 5px;
	}

	&.bg_grey {
		background: var.$grey_background;
	}

	*[data-attribute='container'] {
		&.empty {
			flex-basis: 0;
			flex-grow: 0;
			align-self: end;
			width: 0;

			.edit {
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
	}

	> * {
		display: block;
		margin: 10px;

		&.start {
			align-self: flex-start;
			margin-top: 20px;
		}

		&.text_align_right {
			text-align: right;

			.pa_cta {
				justify-content: flex-end;
			}
		}

		&.text_align_centre {
			text-align: center;

			.pa_cta {
				justify-content: center;
			}
		}

		&:hover {
			.edit {
				opacity: 1;
			}
		}

		&[class*='background_'] {
			padding: 10px;
			color: var.$white;

			h3 {
				color: inherit;
			}

			&.background_blue_light, &.background_grey_light, &.background_white {
				color: var.$neutral;
			}

			&.background_blue_dark {
				background: var.$secondary;
			}

			&.background_blue_light {
				background: var.$primary;
			}

			&.background_grey_dark {
				background: var.$grey_dark;
			}

			&.background_grey_medium {
				background: var.$grey_mid;
			}

			&.background_grey_light {
				background: var.$grey_light;
			}

			&.background_gold {
				background: var.$gold;
			}

			&.background_white {
				background: var.$white;
			}
		}
	}

	h3 {
		&[data-attribute='heading'] {
			strong {
				font-weight: 400;
			}
		}
	}

	.pa_tile {
		position: relative;
		flex-grow: 1;
		min-width: 200px;

		> * {
			margin: 10px 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.img_small {
			img {
				max-width: 250px;
			}

			> *:not(img) {
				flex-basis: 60%;
			}
		}

		&.cta_full {
			.pa_cta {
				li {
					width: 100%;
					margin-right: 0;
					margin-left: 0;
				}

				.pa_btn {
					width: 100%;
				}
			}
		}

		&.content_align_top {
			align-items: flex-start;
		}

		&.content_align_bottom {
			align-items: flex-end;
		}

		&.content_align_centre {
			align-items: center;
		}
	}

	.content {
		position: relative;

		&:hover, &:focus, &.focus-within {
			.edit {
				opacity: 1;
			}
		}

		h1 {
			font-size: 2em;
			line-height: 1.2;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			margin: 20px auto;
		}
	}

	img {
		display: block;
		width: 100%;
		max-height: 400px;
		margin: 0 auto;
		object-fit: cover;
		object-position: center;

		&.image_position_right {
			order: 2;
		}

		&:hover {
			& + *[data-attribute='container'] {
				&.empty {
					.edit {

						opacity: 1;
					}
				}
			}
		}
	}

	p, h3 {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.multi_row {
		flex-wrap: wrap;
	}

	&.img_small {
		img {
			max-width: 250px;
		}

		> *:not(img) {
			flex-basis: 60%;
		}
	}

	&.tile_small {
		.pa_tile {
			display: flex;
			flex-grow: 1;
			align-items: center;
			justify-content: space-between;

			img {
				width: 150px;
				max-width: 150px;
				margin: 0 10px 0 0;
				object-fit: center;
			}

			.content {
				flex-grow: 1;
				margin: 0;
			}

			.pa_cta {
				margin: 0 -5px;

				li {
					margin: 5px;
				}

				.pa_btn {
					padding: 5px 10px;
					font-size: 1em;
					font-weight: 500;
					line-height: 1;
				}
			}

			&.image_position_right {
				img {
					order: 2;
					margin-right: 0;
					margin-left: 10px;
				}
			}

			&.content_align_top {
				align-items: flex-start;
			}

			&.content_align_bottom {
				align-items: flex-end;
			}

			&.content_align_centre {
				align-items: center;
			}
		}

		&.img_small {
			.pa_tile {
				img {
					width: 50px;
					max-width: 50px;
				}
			}
		}
	}

	.pa_cta {
		justify-content: flex-start;
		margin: 0 -10px 20px;

		li {
			margin: 20px 20px 0;
		}

		.pa_btn {
			padding-right: 14px;

			&:after {
				content: normal;
			}
		}
	}
}

.__se__format__free_pa_lead {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.3;
}

.__se__pa_uppercase {
	text-transform: uppercase;
}

.__se__pa_callout_heading {
	display: flex;
	align-items: center;

	&:before {
		content: '';
		width: 0;
		height: 0;
		margin-right: 0.5ch;
		border-width: 0.5em 0 0.5em 0.5em;
		border-style: solid;
		border-color: transparent transparent transparent var.$primary;
	}
}

@media (min-width: 40em) {
	.pa_cols {
		&.col_3, &.col_2, &.col_4, &.col_5 {
			.pa_tile {
				flex-basis: 40%;
				flex-grow: 1;
			}
		}

		.pa_tile {
			flex-basis: 40%;
			flex-grow: 1;
			flex-shrink: 1;

			&.width_full {
				flex-basis: 100%;
			}

			img {
				max-height: 450px;
			}
		}
	}
}

@media (min-width: 50em) {
	.pa_cols {
		flex-wrap: nowrap;
		margin: 15px -10px;

		&.col_2 {
			justify-content: flex-start;

			.pa_tile {
				flex-basis: calc(50% - 40px);
			}
		}

		&.col_3 {
			.pa_tile {
				flex-basis: calc((100% / 3) - 20px);
			}
		}

		&.col_4, &.col_5 {
			.pa_tile {
				flex-basis: calc(25% - 20px);
			}
		}

		&.col_3, &.col_4, &.col_5 {
			justify-content: flex-start;

			.pa_tile {
				display: block;
				flex-grow: 0;
				flex-shrink: 0;

				> * {
					margin: 10px 0;

					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				img {
					width: 100%;
					margin-right: auto;
					margin-left: auto;
				}
			}
		}

		&.col_5 {
			min-width: 140px;
		}

		.pa_tile {
			display: flex;
			align-items: center;

			&.img_small {
				.pa_tile {
					img {
						flex-shrink: 0;
						width: 30%;
					}
				}
			}

			&.width_third {
				display: block;
				flex-basis: calc((100% / 3) - 20px);
				flex-grow: 0;
				flex-shrink: 0;

				img {
					width: 100%;
				}
			}

			&.width_full {
				display: flex;
				flex-basis: 100%;
			}

			&.width_half, &.width_threefifth, &.width_twofifth {
				flex-basis: calc(50% - 20px);
				flex-grow: 0;
				flex-shrink: 0;
			}

			&.width_twothird {
				display: flex;
				flex-basis: calc((100% / 3 * 2) - 20px);
				flex-grow: 1;
				flex-shrink: 0;
			}

			&.width_quarter, .width_onefifth {
				display: block;
				flex-basis: calc(25% - 20px);
				flex-grow: 0;
				flex-shrink: 0;

				img {
					width: 100%;
				}
			}

			&.width_threequarter, .width_fourfifth {
				display: flex;
				flex-basis: calc(75% - 20px);
				flex-grow: 1;
				flex-shrink: 0;
			}

			&.width_full, &.width_twothird, &.width_half, &.width_threequarter, &.width_fourfifth {
				> * {
					margin: 0 10px;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}

			&.image_position_right {
				img {
					order: 2;
				}

				.content {
					margin-right: 10px;
					margin-left: 0;
				}
			}

			> * {
				margin: 0 10px;
			}

			.content {
				img {
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}

			img {
				width: 50%;
				margin: 0;
			}
		}

		&.img_small {
			.pa_tile {
				img {
					flex-shrink: 0;
					width: 30%;
				}

				&.width_third, &.width_quarter, &.width_onefifth, &.width_twofifth {
					img {
						width: 100%;
					}
				}
			}

			&.col_4, &.col_5, &.col_3 {
				.pa_tile:not(.width_full):not(.width_half):not(.width_twothird):not(.width_threequarter):not(.width_threefifth):not(.width_fourfifth) {
					img {
						width: 100%;
					}
				}
			}
		}

		&.tile_small {
			.pa_tile {
				display: flex;

				img {
					width: 150px;
				}
			}

			&.img_small {
				.pa_tile {
					img {
						width: 50px;
						max-width: 50px;
					}
				}
			}
		}
	}
}

@media(min-width: 60em) {
	.pa_cols {
		.pa_tile {
			min-width: 220px;
			padding: 20px;

			> * {
				margin: 0 20px;
			}
		}

		&:not(.img_small) {
			.pa_tile {
				&:not(.img_small) {
					img {
						flex-shrink: 0;
					}
				}
			}
		}

		&.tile_small {
			.pa_tile {
				padding: 10px;
			}
		}
	}
}

@media(min-width: 70em ) {
	.pa_cols {
		.pa_tile {
			&.width_half, &.width_threefifth, &.width_twofifth {
				display: flex;
			}
		}
	}
}

@media(min-width: 40em) {
	@supports(grid-template-areas: '.') {
		@import './tiles_grid.scss';
	}
}
