.cols {
	position: relative;
	max-width: 1040px;
	margin: 20px auto;
	padding: 20px 20px 50px;
	outline: 1px dashed var.$grey_light;
	outline-offset: 0;

	> *:not([data-modal='true']) {
		outline: 1px dashed var.$grey_light;
		outline-offset: 0;
	}
}

.add {
	position: absolute;
	right: 50px;
	bottom: 0;
}

.addCTA {
	margin: 20px;
}

.edit {
	position: absolute;
	z-index: 50;
	right: 0;
	bottom: 0;
	opacity: 0;
}

.save {
	position: absolute;
	top: 10px;
	left: 10px;
}

.wrapper {
	width: 100%;
	max-height: calc(95vh - 80px);
	overflow-y: auto;
	text-align: left;

	h2 {
		margin: 10px 0 5px;
		font-size: 1.2em;
	}
}

.types {
	composes: types from '../../../pages/index.module.scss';
}

.items {
	composes: items from '../../../pages/index.module.scss';

	.options {
		background: var.$secondary;
		color: var.$white;
	}
}
