.import {
	width: 100%;
	min-height: 50vh;
	margin-top: 20px;
	border: none;
	composes: code from '../codeGenerator/codeGenerator.module.scss';
}

.generate {
	position: absolute;
	top: 10px;
	left: 10px;
}
