.types {
	padding: 0;
	border: none;

	legend {
		margin-bottom: 10px;
		font-weight: 700;
		text-align: center;
	}
}

.items {
	display: flex;
	flex-wrap: wrap;

	input[type='radio'], input[type='checkbox'] {
		position: absolute;
		opacity: 0;

		&:checked {
			& + label {
				border-color: var.$primary;
				background: var.$primary;
			}
		}
	}

	label {
		padding: 5px 10px;
		border: 2px solid transparent;

		&:hover {
			border-color: var.$primary;
		}
	}

	button, select {
		margin: 5px;
		border-color: transparent;
		background: none;
		color: var.$neutral;
		font-weight: 400;

		&[aria-pressed='true'] {
			border-color: var.$primary;
			background: var.$primary;
		}
	}

	select {
		align-self: center;
	}
}
