.edit {
	position: absolute;
	z-index: 50;
	right: 0;
	opacity: 0;
}

.details {
	width: 100%;
	max-height: calc(90vh - 80px);
	overflow-y: auto;
	border: none;
	background: var.$white;
}

.summary {
	padding: 0;

	&:after {
		content: normal;
	}
}

.faqs {
	position: relative;

	&:hover, &:focus, &.focus-within {
		outline: none;

		.edit {
			opacity: 1;
		}
	}
}

.add {
	margin-top: 50px;
}

.save {
	position: absolute;
	top: 10px;
	left: 10px;
}
