// Colours
$primary: #0093c9;
$secondary: #172f57;
$highlight: #42beee;

$neutral: #000000;
$white: #ffffff;
$grey_light: #d1d3d4;
$grey_dark: #414042;
$grey_mid: #6d6e71;

$gradient: linear-gradient(138.17deg, $primary 18.9%, $secondary 82.35%);

$green: #64ad66;
$red: #e53f51;
$orange: #f18d1e;

$good: $green;
$success: $good;
$warning: $orange;
$fail: $red;
$error: $fail;

// Typography
$font_main: Montserrat, Arial, sans-serif;
$font_headings: Montserrat, Arial, sans-serif;
