body {
	.sun-editor {
		margin: 10px 0;
		border: none;
		border: 1px solid var.$grey_mid;
		outline-width: 0;
		background-color: inherit;
		color: inherit;
		font-family: inherit;
		font-size: inherit;

		&:focus {
			outline-width: 3px;
		}

		* {
			outline-width: 0;
		}

		.se-toolbar {
			outline: none;
		}

		.se-navigation, .se-resizing-bar {
			display: none;
		}

		.sun-editor-editable {
			background-color: inherit;
			color: inherit;
			font-family: inherit;
			font-size: inherit;

			> * {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.se-wrapper {
			.se-placeholder {
				height: 100%;
				padding: 16px;
				font-family: inherit;
				font-size: 1em;
				line-height: 1.5;
			}
		}
	}
}
